body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgba(25, 20, 20, 1);
}

#calculator{
    width:300px;
    height:500px;
    padding:20px;
    flex-direction: column;
    background-color: rgb(215, 221, 217);
    border-radius: 15px;
    box-shadow: 10px black;
    gap:10px;
    display: flex; 
    box-shadow: 0px 2px 2px rgb(251, 251, 251);

}

.result{
    background-color: rgb(81, 78, 78);
    min-height: 85px;
    border-radius: 5px;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 36px;
    padding-right:10px;
    border: 2px solid rgba(25, 20, 20, 1)
}
.buttons{
    display:flex;
    flex-direction: column; 
    gap:10px; 
    margin-top:5px ;
    max-height:300px
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}


button{
    flex:1;
    border-radius: 5px;
    outline: none;
    color: rgb(24, 23, 23);
    border: 2px solid rgba(238, 75, 5, 0.862);
    background-color: rgb(216, 211, 211);
    padding: 10px;
    width: auto;
    aspect-ratio: 1/1;
    font-size: 18px;
    box-shadow: 0px 2px 2px rgb(251, 251, 251);
}

.eigh{
    border: 2px solid rgba(234, 15, 227, 0.862);
}

.one,.div,.six,#sev,.equal{
    border: 2px solid rgba(15, 243, 68, 0.862);
}
.doub,.plus{
    border: 2px solid rgba(247, 50, 50, 0.862);
}
.three,.AC,.five,.minus,.zero{
    border: 2px solid rgba(12, 214, 250, 0.862);
}
.mul,.DEL,.four{
    border: 2px solid rgba(234, 15, 227, 0.862);
}





button:hover{
    background-color: white;
}

.row .equal{
    flex:3;
    height:71.25px;
    max-width:146.5px;
}
