body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color:#D4D4D2;
}

#calculator{
    width:300px;
    height:500px;
    padding:20px;
    flex-direction: column;
    background-color: #1C1C1C;
    border-radius: 15px;
    gap:10px;
    display: flex; 
    box-shadow: 0px 2px 2px rgb(251, 251, 251);

}

.result{
    background-color: rgb(81, 78, 78);
    min-height: 85px;
    border-radius: 5px;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 36px;
    padding-right:10px;
    border: 2px solid rgba(25, 20, 20, 1)
}
.buttons{
    display:flex;
    flex-direction: column; 
    gap:10px; 
    margin-top:5px ;
    max-height:300px
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}


button{
    flex:1;
    border-radius: 50px;
    outline: none;
    color: rgb(24, 23, 23);
    border: 2px solid #505050;
    background-color: rgb(216, 211, 211);
    padding: 10px;
    width: auto;
    aspect-ratio: 1/1;
    font-size: 18px;
    box-shadow: 0px 2px 2px rgb(82, 80, 80);
}


.number,.decimal    {
    background-color: #505050;
}

.operator,.equal{
    background-color: #FF9500;
}

.AC,.DEL,.mod{
    background-color: #4c524d8f;

}



button:hover{
    background-color: white;
}

.row .zero{
    flex:3;
    height:71.25px;
    max-width:146.5px;
}
